.links li a {
    color: #5d5d5d; /* Set the text color to white */
 /* Remove underline from links */
}

/* This will make only the "Get Started" link text white */
#getstarted a {
    color: white;
}


body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #050;
    color: white;
    text-align: center;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 header .logo {
  color: black;
  font-style: italic;
  text-transform: uppercase;
  font-size: 70px;
   background:#050;
}
header .links {
  display: flex;
  align-items: center;
}

header .links li {
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
  transition: .3s;
}

header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFF;
  background-color: #6E4536;
}

main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.project h2 {
    margin-top: 0;
}

iframe {
    width: 100%;
    height: 200px;
    border: none;
    border-radius: 8px;
}

footer {
    background-color: #050;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

.footer .row{
width:100%;
margin:1% 0%;
padding:0.6% 0%;
color:black;
font-size:0.8em;
}

.footer .row a{
text-decoration:none;
color:black;
transition:0.5s;
}

.footer .row a:hover{
color:#fff;
}

.footer .row ul{
width:100%;
}

.footer .row ul li{
display:inline-block;
margin:0px 30px;
}

.footer .row a i{
font-size:2em;
margin:0% 1%;
}

@media (max-width:720px){
.footer{
text-align:left;
padding:5%;
}
.footer .row ul li{
display:block;
margin:10px 0px;
text-align:left;
}
.footer .row a i{
margin:0% 3%;
}
}